*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.modal .main__content {
    margin-left: 0;
}

main {
    flex: 1;
    background-color: #F0F1F3;
}
.main__container {
    margin: 0 auto;
    max-width: 1144px;
    width: 100%;
    text-align: left;
    overflow-wrap: break-word;
}

.main__inner {
    display: flex;
    flex-direction: row;
}

.main__navigation {
    display: flex;
    flex-direction: column;
    padding-top: 44px;
}
.main__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 313px;
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    border-left: 3px solid #39CE8E;
    border-radius: 3px 5px 5px 3px;
}

.main__nav a {
    max-width: 201px;
    padding-left: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.main__nav-arrow {
    padding-right: 20px;
}

.main__nav-authors {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    padding-top: 22px;
}

.main__nav-text {
    max-width: 313px;
    overflow-wrap: break-word;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}

.main__content {
    margin-left: 75px;
    max-width: 756px;
    width: 100%;
}

.main__content-title {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    padding-top: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
}

.main__content-subtitle{
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    margin-bottom: 20px;
}

.content-title-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  background: url(../images/triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main__content-recommend {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 11px;
    padding: 20px;
}

.main__content-recommend hr {
    border: none; 
    background-color: #EFFAE5; 
    color: #EFFAE5; 
    height: 2px; 
    max-width: 700px;
    margin: 15px;
   }

.recommend__title{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
}

.recommend__text{
    margin-bottom: 15px;
    line-height: 150%;
}

.recommend__text span{
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
}

.recommend__subtitle{
    font-weight: 700;
    font-size: 19px;
    margin: 20px 0 15px 0;
    line-height: 150%;
}

.recommend__img{
    max-width: 450px;
    margin: 20px;
}

.main__content-recommend:last-child{
   margin-bottom: 100px;
}

.btn-arrow-up {
  display: none;
}

@media screen and (max-width: 1200px) {
    .main__inner {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 0 auto;
        max-width: 756px;
        padding:0 20px;
    }
    .main__content {
        margin-left: 0;
    }
    .main__navigation {
        position: relative;
        order: 1;
        padding-top: 0;
    }
    .main__nav {
        max-width: 716px;
        width: 100%;
    }
    .main__nav:last-child {
        margin-bottom: 0;
    }
    .main__accordeon {
        padding-bottom: 27px;
        margin: 0;
    }
    .main__nav-text {
        padding-bottom: 70px;
    }

    .main__content-recommend:last-child{
         margin-bottom: 45px;
}
  }
  
  @media screen and (max-width: 720px) {
    .main__content-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
    .main__content-subtitle {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
    }
    .main__nav-text {
        font-weight: 400;
        font-size: 11px;
    }
  }

  @media screen and (max-width: 550px) {
    .main__content-title {
        font-size: 20px;
        line-height: 24px;
    }

    .main__content-subtitle{
        font-size: 11px;
        line-height: 130%;
    }

    .recommend__title{
        font-size: 15px;
        line-height: 18px;  
    }

    .recommend__text{
        font-size: 11px;
        line-height: 130%;
    }

    .recommend__subtitle{
        font-size: 13px;
        line-height: 130%;
    }

    .btn-arrow-up {
    display: block;
    margin-top: 21px;
    width: 56px;
    height: 56px;
    align-self: end;
    margin-bottom: 5px;
  }

  .main__nav-text{
    padding-bottom: 10px;
  }
}