*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

main{
  background-color: #F0F1F3;
  flex: 1;
}

.main__container {
  padding: 31px 0 110px 10px;
  margin: 0 auto;
  max-width: 756px;
  width: 100%;
  text-align: left;
}

.main__content-arrow {
  display: flex;
  justify-content: space-between;
  max-width: 79px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #39CE8E;
  margin: 0 0 20px 0;
}

.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 15px;
}

.main__text {
  font-style: normal;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 22px;
  margin-bottom: 20px;
}

.main__text span{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;  
}

.main__content-recommend {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 11px;
    padding: 20px;
}

.main__content-recommend hr {
    border: none; 
    background-color: #EFFAE5; 
    color: #EFFAE5; 
    height: 2px; 
    max-width: 700px;
    margin: 15px;
   }

.recommend__text span{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
}

.recommend__text{
    font-size: 15px;
    line-height: 22px;
}

.main__btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.main-btn{
    color: #39CE8E;
    border: 1px solid #39CE8E;
    font-weight: 700;
    font-size: 15px;
    background-color: transparent;
    border-radius: 20px;
    min-width: 220px;
    min-height: 40px;
}

.main-btn-more {
    color: #39CE8E;
    border: 1px solid #39CE8E;
    font-weight: 700;
    font-size: 15px;
    background-color: transparent;
    border-radius: 20px;
    max-width: 290px;
    width: 100%;
    min-height: 40px;
}

.main-btn:hover {
    color: #fff;
    background-color: #39CE8E;
  }

  .btn-arrow-up {
  display: none;
}

@media screen and (max-width: 800px){
    .main__container{
        padding: 15px 15px 65px 15px;
    }

    .main__btn{
    margin-top: 15px;
    margin-bottom: 30px;
}
}

@media screen and (max-width: 568px){
      .main__container{
        padding: 15px ;
    }

  .main__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .main__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
  }

  .main__text {
    font-weight: 700;
  }

  .recommend__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
  }

  .recommend__text span {
    font-weight: 700;
    font-size: 11px;
    line-height: 130%;
  }

  .main-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
  }

    .btn-arrow-up {
    display: block;
    margin-top: 21px;
    width: 56px;
    height: 56px;
    align-self: end;
    margin-bottom: 5px;
  }
}