*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
    background-color: #F0F1F3;
}
.main__container {
    margin: 0 auto;
    max-width: 1144px;
    width: 100%;
    text-align: left;
    overflow-wrap: break-word;
}

.main__inner {
    display: flex;
    flex-direction: row;
}

.main__navigation {
    display: flex;
    flex-direction: column;
    padding-top: 44px;
}
.main__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 313px;
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 7px;
    border-left: 3px solid #39CE8E;
    border-radius: 3px 0px 0px 3px;
}

.main__nav a {
    max-width: 201px;
    padding-left: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.main__nav-arrow {
    padding-right: 20px;
}

.main__nav-authors {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    padding-top: 22px;
}

.main__nav-text {
    max-width: 313px;
    overflow-wrap: break-word;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}

.main__content {
    margin-left: 75px;
    max-width: 756px;
    width: 100%;
}

.main__content-title {
    max-width: 531px;
    padding-top: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.main__content-recommend {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 11px;
}

.main__content-recommend p {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    padding: 16px 61px 15px 20px;
}

.main__content-recommend hr {
    border: none; 
    background-color: #EFFAE5; 
    color: #EFFAE5; 
    height: 2px; 
    max-width: 700px;
    margin: 0 15px;
   }

.main__content-recommend p:last-child{
   border: none;
}

.main__content-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    padding-top: 29px;
}

.main__content-description {
    max-width: 756px;
    width: 100%;
    margin-top: 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border-left: 3px solid #39CE8E;
}

.description-header {
    display: flex;
}

.description-logo {
    padding: 13px 24px 6px 14px;
}

.description-title {
    max-width: 250px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    padding-top: 24px;
}

.description-text {
    padding: 0 46px 17px 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}

.description-vet {
    margin-left: 14px;
    margin-bottom: 20px;
    padding: 7px 17px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: #39CE8E;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

.description-vet:hover{
    background-color: #4BDB9D;
}

.description-desc {
    padding: 7px 17px;
    margin-left: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #39CE8E;
    border: 1px solid #39CE8E;
    border-radius: 15px;
    background: #FFFFFF;
}

.main__accordeon {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-bottom: 71px;
}

.accordeon-header {
    display: flex;
    justify-content: space-between;
    background: #39CE8E;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    max-height: 60px;
}

.accordeon-title {
    padding: 15px 0 18px 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
}

.accordeon-minus {
    display: flex;
    align-items: center;
    padding: 22px 16px 21px 0;
}
  
.accordeon-header.active {
    display: flex;
    justify-content: space-between;
    border: 2px solid #39ce8e;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.accordeon-title.active {
    color: #232425;
}
  
.accordeon-content {
    display: none;
    background: #ffffff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
  
.active {
    display: block;
    width: 100%;
}
.accordeon-content-description {
    max-width: 756px;
    width: 100%;
    margin-top: 14px;
    background: #FFFFFF;
    border-bottom: 2px solid #EFFAE5;
}

.accordeon-content-description:last-child {
    border-bottom: none;
}

@media screen and (max-width: 1200px) {
    .main__inner {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 0 auto;
        max-width: 756px;
        padding:0 20px;
    }
    .main__content {
        margin-left: 0;
    }
    .main__navigation {
        position: relative;
        order: 1;
        padding-top: 0;
    }
    .main__nav {
        max-width: 716px;
        width: 100%;
    }
    .main__nav:last-child {
        margin-bottom: 0;
    }
    .main__accordeon {
        padding-bottom: 27px;
        margin: 0;
    }
    .main__nav-text {
        padding-bottom: 70px;
    }
  }
  
  @media screen and (max-width: 568px) {
    .main__content-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
    .main__content-subtitle {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
    }
    .description-title {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
    }
    .description-text {
        font-weight: 400;
        font-size: 11px;
    }

    .description-desc {
        margin-left: 0;
    }
    .accordeon-title {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
    }
    .main__nav-text {
        font-weight: 400;
        font-size: 11px;
    }
  }
 