*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.modal .main__content {
    margin-left: 0;
}

main {
    flex: 1;
    background-color: #F0F1F3;
}
.main__container {
    margin: 0 auto;
    max-width: 1144px;
    width: 100%;
    text-align: left;
    overflow-wrap: break-word;
}

.main__inner {
    display: flex;
    flex-direction: row;
}

.main__navigation {
    display: flex;
    flex-direction: column;
    padding-top: 44px;
}
.main__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 313px;
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    border-left: 3px solid #39CE8E;
    border-radius: 3px 5px 5px 3px;
}

.main__nav a {
    max-width: 201px;
    padding-left: 17px;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.main__nav-arrow {
    padding-right: 20px;
}

.main__nav-authors {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    padding-top: 22px;
}

.main__nav-text {
    max-width: 313px;
    overflow-wrap: break-word;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}

.main__content {
    margin-left: 75px;
    max-width: 756px;
    width: 100%;
}

.main__content-title {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    padding-top: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
}

.main__content-title h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.main__content-title-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}
  
li span{
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}

.content-title-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  background: url(../images/triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main__content-description {
    max-width: 756px;
    width: 100%;
    margin: 20px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border-left: 3px solid #39CE8E;
}

.main__content-description:last-child{
    margin-bottom: 100px;
}

.description-header {
    display: flex;
}

.main__content-description h1{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    padding: 20px 10px;
}

.description-vet-v2 {
    padding: 7px 47px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: #39CE8E;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

.description-vet-v2:hover{
    background-color: #4BDB9D;
}

.content__info{
    display: flex;
}

.content__info_col1{
    margin: 20px;
}

.content__info_col1 img{
    margin-bottom: 20px;
}

.skill-equip-page{
    display: flex;
    align-items: start;
    max-width: 255px;
    background: #EFFAE5;
    border-radius: 5px;
    padding: 5px 0;
}

.skill-equip__skill{
    padding-bottom: 25px;
}

.skill-equip__title{
    padding-bottom: 20px;
}

.lvl_text{
    padding-bottom: 10px;
}

.skill-equip__title-page{
    font-weight: 700;
    font-size: 11px;
    color: #39CE8E;
    margin:  5px 5px 0 5px;
}

.skill-equip__lvl{
    display: flex;
}

.lvl__check{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #39CE8E;
    margin: 5px;
}

.lvl__uncheck{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #39CE8E;
    margin: 5px;
}

.info__title{
    font-weight: 700;
    font-size: 15px;
    margin: 7px 0;
    line-height: 22px;
}

.content__info_col2 {
    max-width: 404px;
    width: 100%;
    padding-right: 10px;
}

.content__info_col2 ol{
    list-style: disc inside;
}

.content__info_col2 li{
    margin: 7px 0;
}

.content__info_col2 .description-vet-v2{
margin: 30px 0;
}

.btn-arrow-up {
  display: none;
}

@media screen and (max-width: 1200px) {
    .main__inner {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 0 auto;
        max-width: 756px;
        padding:0 20px;
    }
    .main__content {
        margin-left: 0;
    }
    .main__navigation {
        position: relative;
        order: 1;
        padding-top: 0;
    }
    .main__nav {
        max-width: 716px;
        width: 100%;
    }
    .main__nav:last-child {
        margin-bottom: 0;
    }
    .main__nav-text {
        padding-bottom: 70px;
    }  
  
    .main__content-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
    .main__content-subtitle {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
    }
    .description-title {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
    }
    .description-text {
        font-weight: 400;
        font-size: 11px;
    }
    .main__nav-text {
        font-weight: 400;
        font-size: 11px;
    }
  }

  @media screen and (max-width: 800px) {
    .main__nav-text{
        max-width: 750px;
    }

    .main__content-description:last-child{
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 630px) {
    .content__info{
        margin: 0 auto;
        flex-direction: column;
        max-width: 480px;
        justify-content: center;
        align-items: center;
    }

    .content__info_col2 {
        text-align: center;
        padding: 15px;
    }

    .description-vet-v2 {
        padding: 7px 50px;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
   }

   .info2{
        display: none;
   }

   .main__content-title h1{
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
   }

   .main__content-title-text{
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
}

     .btn-arrow-up {
    display: block;
    margin-top: 21px;
    width: 56px;
    height: 56px;
    align-self: end;
    margin-bottom: 5px;
  }

.main__nav-text{
    padding-bottom: 10px;
}
}