*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
    background-color: #F0F1F3;
}

.main__container {
    margin: 0 auto;
    max-width: 1144px;
    width: 100%;
    text-align: left;
    overflow-wrap: break-word;
}

.main__inner {
  display: flex;
}

.main__write-title {
  padding-top: 64px;
  padding-bottom: 9px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.main__write-authors {
  max-width: 313px;
  overflow-wrap: break-word;
  padding-bottom: 19px;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
}

.main__write-errors {
  padding-bottom: 11px;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
}

.wtite-btn {
  padding: 10px 95px;
  overflow-wrap: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #39CE8E;
  border: 1px solid #39CE8E;
  border-radius: 20px;
  cursor: pointer;
}

.btn-arrow-up {
  display: none;
}

.main__content {
  padding-left: 75px;
}

.main__content-arrow {
  display: flex;
  justify-content: space-between;
  max-width: 79px;
  padding-top: 22px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #39CE8E;
}

.main__content-title {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.content-title-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  background: url(../images/triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main__content-description {
  padding: 21px 132px 0 19px;
  margin-bottom: 119px;
  max-width: 756px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
}

@media screen and (max-width: 1200px) {
  .main__inner {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      margin: 0 auto;
      max-width: 756px;
      padding:0 20px;
  }
  
  .main__write {
    order: 1;
  }

  .main__content {
    padding-left: 0;
  }

  .main__content-description {
    margin-bottom: 0;
  }

  .main__write-authors {
    max-width: 716px;
    width: 100%;
    margin: 0;
    overflow-wrap: normal;
  }

  .main__write-btn {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .main__write-btn {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 524px) {
  .main__content-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .description-img {
      display: block;
      width: 248px;
      height: 184px;
  }

  .main__content-description {
    padding: 22px 16px 0 16px;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
  }

  .main__write-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
  }

  .main__write-authors {
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
  }

  .main__write-errors {
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
  }

  .main__write-btn {
    padding-bottom: 21px;
  }

  .wtite-btn {
    padding: 10px 79px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
  }

    .btn-arrow-up {
    display: block;
    margin-top: 21px;
    width: 56px;
    height: 56px;
    align-self: end;
    margin-bottom: 5px;
  }
}

