*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.wrapper{
display: flex;
height: 100vh;
flex-direction: column;
justify-content: space-between;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px; /*не использовать статичную ширину для адаптива*/
  /* padding: 0 10px; чтобы не прилегало */
  margin: 0 auto; /*0 сверху и снизу и автоматические отступы слева и справа*/ 
}

header {
  background: rgb(57,206,142);
  background: linear-gradient(100deg, rgba(57,206,142,1) 0%, rgba(78,183,178,1) 100%);
  color: #ffffff
}

.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.search-input{
  border: none;
  background-color:#F0F1F3;
  border-radius: 25px;
  min-width: 650px;
  margin-left: 200px;
  padding: 12px;
}

.search-input::placeholder{
  font-family: 'Montserrat', sans-serif;
  color: #BEBEBE;
}

.search-btn{
  border: none;
  background-color: transparent;
  position: absolute;
}

.search-btn::before{
  content: url(images/search.svg);
}


main{
  background-color: #F0F1F3;
  flex: 1;
}
.main__container{
  margin: 31px auto 0 auto;
  max-width: 756px;
  width: 100%;
  text-align: left;
  
}

.main__title{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 15px;
}

.main__text {
  font-style: normal;
  font-size: 15px;
  line-height: 150%;
  margin-bottom: 22px;
}

.main__accordeon {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
  
.accordeon-header {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    cursor: pointer;
}

.accordeon-header.active {
    display: flex;
    justify-content: space-between;
    border: 2px solid #39CE8E;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
  
.accordeon-content {
    display: none;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
  
.active {
    display: block;
    width: 100%;
}

.accordeon-logo {
    margin: 14px 21px 14px 16px;
    width: 90px;
    height: 90px;
}
  
.accordeon-title {
    align-self: center;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    margin-right: 137px;
    width: 450px;
}

.accordeon-minus {
    align-self: center;
    padding-right: 23.7px;
}

.accordeon-content-open{
    display: flex;
    justify-content: space-between;
}

.accordeon-content-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    padding: 23px 0 16px 23px
}
.accordeon-content-arrow {
    background: url(./images/accordeon-arrow-right.svg);
    width: 6px;
    height: 10px;
    margin: 28px 25px 19px 0;
}
  
.accordeon-content-border {
    display: block;
    margin: 0 auto;
    border: 2px solid #EFFAE5;
    max-width: 711px;
}

.rotate {
    transform: rotate(180deg);
}

.main__accordeon:last-child {
    margin-bottom: 83px;
}

footer {
  background: rgb(57,206,142);
  background: linear-gradient(100deg, rgba(57,206,142,1) 0%, rgba(78,183,178,1) 100%);
  color: #ffffff
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px;
}

.footer__text{
  font-size: 13px;
}

.footer_col2{
  display: flex;
  flex-direction: column;
}

.footer__links{
display: flex;
justify-content: end;
margin-bottom: 25px;
}

.footer__link {
  color: #fff;
  font-size: 15px;
  margin-left: 35px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__connect{
  display: flex;
  justify-content: end;
}

.footer__contacts {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  
}

.footer__contacts-link {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.footer__contacts-img {
  margin-right: 10px;
}

.footer-btn{
  color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: transparent;
  border-radius: 20px;
  min-width: 240px;
  min-height: 40px;
}

.footer-btn:hover{
  color: #39CE8E;
  background-color: #fff;
}
.footer__contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 14px;
}

.footer__contacts-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.footer__contacts-logo {
    width: 23px;
    height: 23px;
}
  
