.nav__inner{
    display: flex;
    height: 50px;
    align-items: center;
  }
  
  .tabs{
    min-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px;
    justify-content: stretch;
    justify-items: stretch;
  }
  
  .tab-switch{
    display: none;
  }
  
  .tab-label {
    display: block;
    background: transparent;
    color: #BFBFC1;
    font-weight: 700;
    font-size: 13px;
    padding: 17px;
    text-align: center;
    cursor: pointer;
  }
  
  .tab-label:hover {
    color: #232425;
    transition: all 0.3s;
  }
  
  .tab-switch:checked + .tab-label {
    color: #39CE8E;
    border-bottom: 3px solid #39CE8E;
  }

  @media screen and (max-width: 1280px) {
    .tabs {
      min-width: 10px;
    }
  }

  @media screen and (max-width: 400px) {
    .tab-label {
      font-weight: 700;
      font-size: 9px;
      line-height: 11px;
    }
}